.container {
    height: 150px;
    border-top: 3px solid black;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.title {
    font-weight: 400;
    color: white;
    background-color: green;
    padding: 5px;
    width: max-content;
}

.linkTitle {
    text-decoration: underline;
}

.link {
    display: flex;
    align-items: center;
}

.linkText {
    margin-right: 20px;
}

.cardL {
    flex: 2;
}

.cardS {
    flex: 1;
}

.cardItem {
    margin-bottom: 20px;
}